/*colors used*/
/*colors used*/
h1, h2, h3, h4, h5, .row {
  margin: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.foot-fr .row.header {
  position: relative;
  background-color: transparent;
}
.foot-fr .row.header h1 {
  padding-left: 70px;
  height: 70px;
  line-height: 90px;
  color: white;
  font-size: 2.5vw;
  background: url(images/foot_fr/logo.png) no-repeat 2% 0%;
  margin: 10px 0px;
}
.foot-fr .social-media {
  position: absolute;
  top: 0;
  right: 0;
}
.foot-fr .navbar.navbar-foot {
  background-color: #424242;
  border: 0 none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px -1px 0px #292624, 0px 1px 0px #292624;
  -moz-box-shadow: 0px -1px 0px #292624, 0px 1px 0px #292624;
  box-shadow: 0px -1px 0px #292624, 0px 1px 0px #292624;
}
.foot-fr .navbar.navbar-foot .navbar-right {
  margin-right: 0px;
}
.foot-fr .navbar.navbar-foot li a {
  color: white;
}
.foot-fr .navbar.navbar-foot li a:hover, .foot-fr .navbar.navbar-foot li a.focus {
  color: #424242;
  background-color: #3299bb;
}
.foot-fr .navbar.navbar-foot li.active a {
  color: #424242;
}
.foot-fr .navbar.navbar-foot li.active > a {
  background-color: #3299bb;
}
.foot-fr .navbar.navbar-foot .nav .open a {
  background-color: #3299bb;
}
.foot-fr .navbar.navbar-foot .nav .dropdown li a {
  background-color: white;
  color: #424242;
}
.foot-fr .navbar.navbar-foot .nav .dropdown li a:hover, .foot-fr .navbar.navbar-foot .nav .dropdown li a:focus {
  background-color: #3299bb;
  color: white;
}
.foot-fr .navbar.navbar-foot .navbar-toggle {
  border-color: #3299bb;
}
.foot-fr .navbar.navbar-foot .navbar-toggle .icon-bar {
  background-color: #3299bb;
}

@media screen and (max-width: 768px) {
  li.divider {
    display: none;
  }

  .dropdown-menu {
    padding: 0;
  }

  .navbar-nav .open .dropdown-menu {
    border-top: 1px solid #424242;
    border-bottom: 1px solid #8e4b0b;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
  }

  .foot-fr .navbar.navbar-foot .nav .open > a {
    border-bottom: 1px solid #b7814e;
  }

  .navbar-collapse {
    -webkit-box-shadow: 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px transparent;
    box-shadow: 0px 0px 0px transparent;
  }

  .navbar-form {
    border: 0 none;
    -webkit-box-shadow: 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px transparent;
    box-shadow: 0px 0px 0px transparent;
  }
}
/*colors used*/
html {
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: #bcbcbc;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border: 0 none;
}

.form-control {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

p, h3, h4 {
  -webkit-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.main {
  -webkit-box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.5), -6px 4px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.5), -6px 4px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.5), -6px 4px 4px rgba(0, 0, 0, 0.5);
}

.main-banner img {
  width: 100%;
  -webkit-box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.5);
  box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.5);
  margin: 0px 0px 20px;
}

img .shadow-img {
  -webkit-box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.5);
  box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.5);
}

table {
  font-size: 12px;
}

.info-overlay {
  width: 100%;
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  margin: -60px 0px 20px;
}

.foot-fr .row {
  background-color: #424242;
}

.subrow .col-md-4 img {
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
  width: 100%;
}

.row.heading {
  margin-top: 10px;
  background-color: #222;
}
.row.heading h1 {
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  color: #e1e1e1;
  width: 100%;
  height: 30px;
  line-height: 30px;
  -webkit-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.row.subheading {
  background-color: #454545;
  color: #e1e1e1;
}
.row.subheading p {
  font-size: 13px;
  margin: 0;
  padding: 3px 0;
}
.row.comments {
  color: #e1e1e1;
  border: 1px dotted #cc7a00;
  border-top: 0 none;
  padding-top: 10px;
  background-color: #ffb13d;
  opacity: 0.7;
  color: #565656;
}
.row.comments p {
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}
.row.comments p.user-name {
  text-transform: uppercase;
  margin: 0px 2px 0px 8px;
}
.row.comments p.comment-date {
  font-style: italic;
  font-size: 12px;
  margin: 0px 0px 10px 8px;
}
.row.comments p.comment-title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin: 0px 0px 10px 8px;
  border-bottom: 1px solid #cc7a00;
}
.row.comments p.comment-content {
  text-align: justify;
}
.row.comments:hover, .row.comments:focus {
  opacity: 2;
}
.row.comments .subrow {
  padding: 10px 0;
  float: left;
}

tr.divider td {
  border: 0 none;
}
tr.divider hr {
  border: 0 none;
  border-bottom: 1px dotted #ff9900;
}

.row a.dashed {
  border: 1px solid #ff9900;
  text-decoration: none;
}
.row a.dashed > span {
  position: relative;
  display: block;
}

.tab-over {
  overflow-x: auto;
}

.row .table {
  color: #e1e1e1;
  -webkit-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.row .table tbody td {
  border-top-color: 25.88235%;
  padding: 4px 5px;
  vertical-align: middle;
}
.row .table tbody td a {
  color: #e1e1e1;
}
.row .table tbody td span {
  display: inline-block;
  height: 10px;
}

.btn-foot1, .btn-foot2, .btn-foot3 {
  color: white;
  padding: 0;
  margin: 0 10px 10px 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  text-transform: uppercase;
}
.btn-foot1:hover, .btn-foot1:focus, .btn-foot2:hover, .btn-foot2:focus, .btn-foot3:hover, .btn-foot3:focus {
  color: #3299bb;
}

.btn-foot1 {
  background-color: #3299bb;
  border: 1px solid #afafaf;
}
.btn-foot1 span {
  display: inline-block;
  padding: 0px 5px 3px 3px;
  line-height: 2;
  vertical-align: middle;
  -webkit-text-shadow: 1px 1px 1px #07151a;
  -moz-text-shadow: 1px 1px 1px #07151a;
  text-shadow: 1px 1px 1px #07151a;
}
.btn-foot1 .fa {
  background-color: #1c576b;
  display: inline-block;
  line-height: 2;
  top: 0;
  font-size: 14px;
  padding: 4px 8px 2px;
  border-right: 1px solid #174756;
  -webkit-text-shadow: 1px 1px 1px #07151a;
  -moz-text-shadow: 1px 1px 1px #07151a;
  text-shadow: 1px 1px 1px #07151a;
}
.btn-foot1:hover span, .btn-foot1:hover .fa {
  color: white;
  -webkit-text-shadow: 0px -1px 0px #565656;
  -moz-text-shadow: 0px -1px 0px #565656;
  text-shadow: 0px -1px 0px #565656;
}

.btn-foot2 {
  background-color: #ff9900;
  border: 1px solid #afafaf;
}
.btn-foot2 span {
  display: inline-block;
  padding: 1px 5px 0px 3px;
  line-height: 1.5;
  vertical-align: middle;
  -webkit-text-shadow: 1px 1px 1px #331f00;
  -moz-text-shadow: 1px 1px 1px #331f00;
  text-shadow: 1px 1px 1px #331f00;
}
.btn-foot2 span.glyphicon {
  background-color: #995c00;
  display: inline-block;
  line-height: 2;
  top: 0;
  font-size: 14px;
  padding: 4px 8px 2px;
  border-right: 1px solid #804d00;
}
.btn-foot2:hover span {
  color: white;
  -webkit-text-shadow: 0px -1px 0px #7c7c7c;
  -moz-text-shadow: 0px -1px 0px #7c7c7c;
  text-shadow: 0px -1px 0px #7c7c7c;
}

.btn-foot3 {
  background-color: transparent;
  border: 1px solid #b2b2b2;
  margin: 0px 0px 0px 0px;
}
.btn-foot3 span {
  display: inline-block;
  padding: 0px 5px 3px 3px;
  line-height: 2;
  font-weight: bold;
  vertical-align: middle;
  -webkit-text-shadow: 1px 1px 1px #331f00;
  -moz-text-shadow: 1px 1px 1px #331f00;
  text-shadow: 1px 1px 1px #331f00;
}
.btn-foot3 .fa {
  background-color: #cc7a00;
  display: inline-block;
  line-height: 2;
  top: 0;
  font-size: 14px;
  padding: 4px 8px 2px;
  border-right: 1px solid #804d00;
  -webkit-text-shadow: 1px 1px 1px #331f00;
  -moz-text-shadow: 1px 1px 1px #331f00;
  text-shadow: 1px 1px 1px #331f00;
}
.btn-foot3:hover span, .btn-foot3:hover .fa {
  color: white;
  -webkit-text-shadow: 0px -1px 0px #565656;
  -moz-text-shadow: 0px -1px 0px #565656;
  text-shadow: 0px -1px 0px #565656;
}

a.tweet-icon {
  display: inline-block;
  width: 50px;
  height: 19px;
  background: url(images/foot_fr/body/social-media/social-media-sprite.png) no-repeat 0 -62px;
}
a.fb-share-icon {
  display: inline-block;
  width: 46px;
  height: 19px;
  background: url(images/foot_fr/body/social-media/social-media-sprite.png) no-repeat 0 -31.5px;
}
a.pin-icon {
  display: inline-block;
  width: 50px;
  height: 19px;
  background: url(images/foot_fr/body/social-media/social-media-sprite.png) no-repeat 0 0;
}

/*colors used*/
.left-side table {
  border: 1px solid #ff9900;
}
.left-side table thead {
  background-color: #ff9900;
  color: #424242;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}

.table.matchs {
  overflow-x: auto;
}
.table.matchs span {
  display: inline-block;
  vertical-align: top;
}
.table.matchs span.c-team1, .table.matchs span.c-team2 {
  width: 32%;
}
.table.matchs span.c-versus {
  width: 10%;
  text-align: center;
}
.table.matchs span.c-date {
  width: 20%;
}
.table.matchs img {
  width: 100%;
}

/*colors used*/
.right-side.col-md-4 > img {
  margin: 18px 0px 10px;
}
.right-side.col-md-4 table {
  border: 1px solid #3299bb;
}
.right-side.col-md-4 table thead {
  background-color: #3299bb;
  color: #424242;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}
.right-side.col-md-4 .nav-tabs {
  margin: 10px 0px 0px;
  border-bottom: 1px solid white;
}
.right-side.col-md-4 .nav-tabs li a {
  background-color: white;
  border: 0 none;
  margin: 0 0 1px 0;
  color: #424242;
  outline: 0 none;
  -webkit-text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-weight: bold;
  border-right: 1px solid #3299bb;
}
.right-side.col-md-4 .nav-tabs li a:hover, .right-side.col-md-4 .nav-tabs li a:focus {
  background-color: #3299bb;
  color: white;
}
.right-side.col-md-4 .nav-tabs li.active a {
  background-color: #3299bb;
  color: white;
  border: 0 none;
}
.right-side.col-md-4 .tab-content {
  height: 304px;
  padding: 0 0 10px 0px;
  overflow-y: auto;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
}
.right-side.col-md-4 .tab-content .tab-row {
  border-bottom: 1px solid #3299bb;
  color: white;
  text-align: left;
  padding-left: 10px;
}
.right-side.col-md-4 .tab-content .tab-row .comment-name {
  color: #3299bb;
  font-style: italic;
  padding-top: 10px;
  margin: 0;
}
.right-side.col-md-4 .tab-content .results-row {
  border-bottom: 0.5px dotted #898989;
  color: white;
  padding: 5px 0px;
}
.right-side.col-md-4 .tab-content .results-row > span {
  display: inline-block;
  -webkit-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  vertical-align: top;
}
.right-side.col-md-4 .tab-content .results-row > span.team1 {
  text-align: right;
  width: 40%;
}
.right-side.col-md-4 .tab-content .results-row > span.team2 {
  text-align: left;
  width: 40%;
}
.right-side.col-md-4 .tab-content .results-row > span.score {
  text-align: center;
  width: 10%;
}
.right-side.col-md-4 > img {
  width: 100%;
}

.row.league-table > div {
  background-color: #3299bb;
  border-bottom: 1px solid #424242;
}
.row.league-table p {
  padding: 5px 0;
  margin: 0;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
  font-weight: bold;
  color: #424242;
}
.row.league-table select {
  color: #424242;
  margin-left: 30px;
}
.row.league-table .table td span {
  width: 10px;
}
.row.league-table .table td span.no-movement {
  background: url(images/foot_fr/body/neutral.png) no-repeat 0 0;
  margin-left: 10px;
}
.row.league-table .table td span.move-down {
  background: url(images/foot_fr/body/down.png) no-repeat 0 0;
  margin-left: 10px;
}
.row.league-table .table td span.move-up {
  background: url(images/foot_fr/body/up.png) no-repeat 0 0;
  margin-left: 10px;
}

/*colors used*/
.carousel {
  padding-bottom: 30px;
}
.carousel .item a {
  display: block;
  position: relative;
}
.carousel .item a img {
  width: 100%;
}
.carousel .item a .glyphicon-play {
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  display: block;
  background-color: #ff9900;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
}
.carousel .item a:hover .glyphicon-play {
  color: #636363;
}
.carousel .item p {
  color: #e1e1e1;
  padding: 10px 5px;
  font-size: 12px;
}
.carousel h3 {
  color: #ff9900;
  font-size: 20px;
  margin: 10px 0 5px;
  padding: 0px 5px;
  -webkit-text-shadow: 2px 2px 2px #362719;
  -moz-text-shadow: 2px 2px 2px #362719;
  text-shadow: 2px 2px 2px #362719;
}

.carousel-control {
  bottom: 10px;
}

.carousel-controlers {
  position: relative;
  margin-top: 2em;
}
.carousel-controlers .glyphicon {
  background-color: #ff9900;
  padding: 3px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.carousel-control.left {
  top: 1px;
  left: 38%;
}

.carousel-control.right {
  right: 38%;
}

#news-carousel .btn-foot2 {
  margin-left: 3px;
}

#video-carousel .col-md-4, #video-carousel .col-sm-4, #video-carousel .col-xs-12, #news-carousel .col-md-4, #news-carousel .col-sm-4, #news-carousel .col-xs-12 {
  padding-top: 1em;
}

#main-carousel {
  margin: 10px auto;
}
#main-carousel .item img {
  width: 100%;
}
#main-carousel .item div {
  display: inline;
  z-index: 2;
  position: absolute;
  left: 2%;
  bottom: 10%;
  color: #636363;
  font-size: 20px;
  text-transform: capitalize;
}
#main-carousel .item div p {
  display: block;
  margin: 7px 0;
}
#main-carousel .item div p span {
  background-color: rgba(255, 153, 0, 0.9);
  padding: 5px;
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#main-carousel .owl-theme .owl-controls {
  position: absolute;
  bottom: 50%;
  margin-bottom: -35px;
  right: 2px;
}
#main-carousel .owl-theme .owl-controls .owl-page {
  display: block;
}
#main-carousel .owl-theme .owl-controls .owl-page span {
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -o-border-radius: 0%;
  -ms-border-radius: 0%;
  border-radius: 0%;
  background-color: #ff9900;
  border: 3px double transparent;
  width: 15px;
  height: 15px;
  opacity: 1;
}
#main-carousel .owl-theme .owl-controls .owl-page.active span, #main-carousel .owl-theme .owl-controls .owl-page:hover span, #main-carousel .owl-theme .owl-controls .owl-page:focus span {
  background-color: #ff9900;
  border: 3px double #bcbcbc;
}

/*colors used*/
.banner {
  text-align: center;
  padding: 15px 0;
}
.banner img {
  width: 100%;
}

.search .form-group {
  width: 100%;
  overflow: hidden;
  background-color: #ff9900;
  padding: 5px 0;
}
.search .form-group label {
  float: left;
  text-align: left;
  font-weight: normal;
  margin: 0;
}
.search .form-group label span {
  width: 100px;
  display: inline-block;
}
.search .form-group select, .search .form-group input {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.search .form-group select {
  min-width: 155px;
  margin: 3px 0px;
}

@media screen and (max-width: 767px) {
  .search .col-xs-12 .btn-foot3 {
    margin-top: 1%;
  }
}
@media screen and (min-width: 768px) {
  .search .col-sm-2 .btn-foot3 {
    margin-top: 23%;
  }
}
@media screen and (min-width: 992px) {
  .search .col-lg-2 .btn-foot3, .search .col-md-2 .btn-foot3 {
    margin-top: 1%;
  }
}
/*colors used*/
#league-table h1 {
  width: 50%;
  float: left;
}
#league-table table tbody tr:hover, #league-table table tbody tr:focus {
  background-color: #222222;
}
#league-table table td, #league-table table th {
  padding-left: 8px;
  padding-right: 8px;
}
#league-table table th {
  white-space: nowrap;
}
#league-table .last-5-games-key {
  list-style-type: none;
  display: inline-block;
  text-align: right;
  width: 50%;
}
#league-table .last-5-games-key li {
  display: inline-block;
  color: white;
  vertical-align: top;
  line-height: 30px;
}
#league-table .last-5-games-key li:nth-child(odd) {
  width: auto;
  height: 20px;
  margin: 0px 5px;
}
#league-table .last-5-games-key li:nth-child(even) {
  width: 12px;
  height: 16px;
  margin-top: 5px;
}
#league-table .last-5-games-key li.key-won {
  background: url(images/foot_fr/body/key-points-sprite.png) no-repeat 0 -34px;
}
#league-table .last-5-games-key li.key-drawn {
  background: url(images/foot_fr/body/key-points-sprite.png) no-repeat 0 -14px;
}
#league-table .last-5-games-key li.key-lost {
  background: url(images/foot_fr/body/key-points-sprite.png) no-repeat 0 4px;
}
#league-table .last-5-games ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
#league-table .last-5-games ol li {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
#league-table .last-5-games ol li.win {
  background: url(images/foot_fr/body/key-points-sprite.png) no-repeat 0 -38px;
}
#league-table .last-5-games ol li.drawn {
  background: url(images/foot_fr/body/key-points-sprite.png) no-repeat 0 -18px;
}
#league-table .last-5-games ol li.lost {
  background: url(images/foot_fr/body/key-points-sprite.png) no-repeat 0 0px;
}

/*colors used*/
#news {
  color: #fff;
}

.media {
  border: 1px solid #ff9900;
  padding: 5px;
}
.media .btn-info {
  padding: 2px 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.media .new-date {
  font-size: 11px;
  color: #d9d9d9;
}
.media .media-heading {
  width: 90%;
}
.media .media-body {
  position: relative;
  padding-top: 5px;
}
.media .media-body > div p {
  margin-top: 5px;
}
.media .media-body .comments {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 20px;
  color: #d9d9d9;
  text-decoration: none;
  background: url(images/foot_fr/body/social-media/social-media-sprite.png) no-repeat 0 -90px;
}

#add-news.tab-content {
  overflow: hidden;
  height: 320px;
}
#add-news.tab-content ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 8px;
}
#add-news.tab-content ul li a {
  color: white;
  -webkit-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
  display: block;
}
#add-news.tab-content ul li a span {
  margin-right: 10px;
}
#add-news.tab-content ul li a:hover {
  color: #3299bb;
}

.news-page p {
  margin: 15px 10px;
  text-align: justify;
}
.news-page .news-caption {
  margin: 15px 0;
  color: #ff9900;
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
  text-align: justify;
}
.news-page a {
  color: #ffb84d;
  padding: 3px;
  border-bottom: 1px solid;
}
.news-page a:hover, .news-page a:focus {
  text-decoration: none;
  border-bottom: none;
}
.news-page .related-news {
  margin-bottom: 15px;
}
.news-page ul {
  list-style-type: none;
  padding-left: 10px;
}
.news-page ul li {
  margin-bottom: 7px;
}
.news-page ul li a {
  border-bottom: 0 none;
}
.news-page ul li a:last-of-type {
  text-transform: uppercase;
  color: #3299bb;
}
.news-page ul li a:hover, .news-page ul li a:focus {
  font-weight: bold;
}

.share-social span {
  display: inline-block;
  vertical-align: top;
}
.share-social a {
  border: 0 none;
  text-decoration: none;
}
